/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

/* inherit border-box on all elements
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  background-color: #282c34;
  color: white;
}

.App-header {
  background-color: #3272f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

.App-body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Display-container {
  border: 2px solid #3272f3;
  display: flex;
  flex-flow: row wrap;
  min-width: 90%;
}

.Display-container .options #algorithmSelectLabel,
#algorithmSelect {
  color: white;
}

[class*="col-"] {
  display: flex;
  flex: 1 1;
}

.col-1 {
  order: 0;
  flex-basis: 20%;
}

.col-2 {
  order: 1;
  flex-basis: 80%;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  .Display-container {
    margin: 0 5%;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .Display-container {
    margin: 0 20%;
  }
}
